//colors
$Twitter: #41b7d8;
$FB: #3b5997;
$GPlus: #d64937;
$LinkedIn: #0073b2;

//menu
$red-tab: #ca1b22;
$blue-tab: #64a5d5;
$pink-tab: #e3007e;
$brown-tab: #735315;
$grey-tab: #535353;
$green-tab: #006062;

$grid-gutter-width: 10px;
