<nav class="tiny-nav">
  <ul class="list-unstyled">
    <li>
      <a href="" class="btn btn-info btn-square">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="" class="btn btn-warning btn-square">
        <i class="fa fa-archive" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="" class="btn btn-danger btn-square">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
