<div class="wrapper padding-10 items-list__row">
  <div class="items-list__info">
    <span class="column">Ilaria Di Rosa</span>
    <span class="column">iladiro</span>
    <span class="column">angels88</span>
    <span class="column">dirosa.ilaria@gmail.com</span>
  </div>
  <div class="items-list__buttons">
    <a href="modify-user.html" class="btn btn-info btn-square">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a href="" class="btn btn-danger btn-square">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
</div>
