.form-search{
  @include spaces(0, 0);
  .input-group{
    @include respond-to(max-width, 767px) {
      width: 100%;
    }
    border-radius: 40px;
    @include border(1px, #eff2f3);
    @include size(220px, 40px);
    @include placeholder(#aebdc1);
    background-color: white;
    .form-control{
      border: 0;
      @include box-shadow(none);
      background-color: transparent;
      height: 40px;
    }
    .input-group-btn{
      button{
        color: #899b9f;
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
}
