.tiny-nav{
  @include position(right, 0, top, 155px, fixed);
  z-index: 2001;
  padding: 10px;
  background-color:rgba(0,0,0,0.3);
  ul{
    margin-bottom: 0;
    li{
      margin-bottom: 5px;
      a{
        width: 100%;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
