<!-- ---
title: Bracco
---

<%= partial("partials/header", locals:
    {
      show: 'yes'
    }
  )
%>

<%= partial "partials/sidebar" %>
<main class="main-container centered">
  <%= partial "partials/breadcrumbs" %>
  <div class="container">
    <div class="col-sm-10 col-md-8 center-block">
      <div class="wrapper padding-30" id="noteForm"></div>
    </div>
  </div>
</main> -->
