---
title: Bracco
---

<%= partial("partials/header", locals:
    {
      show: 'yes'
    }
  )
%>

<%= partial "partials/sidebar" %>
<main class="main-container centered">
  <%= partial "partials/breadcrumbs" %>
  <%= partial "partials/mini-nav" %>
  <section class="container">
    <div class="col-sm-10 col-md-8 center-block">
      <div class="wrapper">
        <div class="padding-30">
          <div class="row">
            <div class="col-sm-6">
              <p class="decorator">
                Ilaria
              </p>
            </div>
            <div class="col-sm-6">
              <p class="decorator">
                Di Rosa
              </p>
            </div>
            <div class="col-sm-6">
              <p class="decorator">
                iladiro
              </p>
            </div>
            <div class="col-sm-6">
              <p class="decorator">
                dirosa.ilaria@gmail.com
              </p>
            </div>
            <div class="col-sm-6">
              <p class="decorator">
                angels88
              </p>
            </div>
            <div class="col-sm-6">
              <p class="decorator">
                Amministratore
              </p>
            </div>
          </div>
        </div>
        <div class="bottom-band padding-30">
          Data di creazione: 24 Luglio 2015
        </div>
      </div>
    </div>
  </section>
</main>
